.chats-screen {
  margin-top: 6.75rem;
  padding: 0 var(--horizontal-space);
}
.chats__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  font-weight: 600;
  margin-top: 0.5rem;
}
