.friend-display-link {
  background-color: #fafafa;
  display: flex;
  margin-top: 6.75rem;
  padding: 1rem 0;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.friend-display-link__icon {
  margin: 0 0.2rem;
  width: 1rem;
  height: 1rem;
}

.friends-sreen {
  padding: 0 var(--horizontal-space);
}
.friends-sreen__friendlist {
  border-top: var(--border-main);
}
.friends-sreen__friendlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
