.friend-display-link {
  background-color: #fafafa;
  display: flex;
  margin-top: 6.75rem;
  padding: 1rem 0;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.friend-display-link__icon {
  margin: 0 0.2rem;
  width: 1rem;
  height: 1rem;
}

.friends-sreen {
  padding: 0 var(--horizontal-space);
}
.friends-sreen__friendlist {
  border-top: var(--border-main);
}
.friends-sreen__friendlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--main);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 3;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  width: 10rem;
  height: 10rem;
}
