.activity-header {
  display: flex;
  position: fixed;
  top: 2.25rem;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  background-color: white;
}

.activity-header__icon {
  height: 2rem;
  width: 2rem;
}
.activity-header__title {
  font-size: 2rem;
  font-weight: bold;
}
