.keyboard {
  background-color: gainsboro;
  padding-bottom: 0.1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.keyboard__input {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
}
.keyboard__form {
  border: var(--border-main);
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding: 0.2rem;
  width: 100%;
}
.keyboard__icon {
  width: 3rem;
  height: 3rem;
}

.keyboard__icon--margin {
  margin-right: 1rem;
}
.keyboard__icon-circle-main {
  background-color: var(--main);
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.keyboard__text {
  margin-left: 1rem;
  border: none;
  font-size: 1.5rem;
  width: 100%;
}

.keyboard__keys {
  display: none;
  transition: all 0.5s ease-in-out;
}

.keyboard__keys-row {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.keyboard__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
  padding: 0.5rem 0;
  font-size: 2rem;
  width: auto;
  min-width: 8.5%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 1px 0 0 dimgray;
}

.keyboard__button-icon {
  width: 2rem;
  height: 2rem;
}

.keyboard__button-grey {
  background-color: #989898;
  padding: 0.5rem;
}

.keyboard__button:focus,
.keyboard__button:active {
  outline: none;
}

.keyboard__button:hover {
  cursor: pointer;
}
.keyboard__input .keyboard__icon:first-child {
  margin-right: 1rem;
}

.keyboard:focus-within .keyboard__keys {
  display: block;
}
