.nav {
  background-color: #fafafa;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__icon {
  height: 2.5rem;
  width: 2.5rem;
}
.nav__link {
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 1.5rem;
  top: -1.7rem;
}
.nav__newfeat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  left: 2.5rem;
  top: -1.2rem;
}
