.screen-header {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  position: fixed;
  top: 2.25rem;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: var(--horizontal-space);
  align-items: center;
}
.screen-header__title {
  font-size: 2.5rem;
  font-weight: 600;
}

.screen-header__icon {
  margin-left: 1.5rem;
  height: 2rem;
  width: 2rem;
}
