.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.subtitle--sm {
  padding: 0.5rem 0;
}
.subtitle__name {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.4);
}
.subtitle__goto {
  display: flex;
  align-items: center;
}
.subtitle__name--xl {
  font-size: 1rem;
}
.subtitle__text {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.3);
}
.subtitle__icon {
  margin: 0 0.2rem;
  width: 1rem;
  height: 1rem;
}
